.testimonialSlider {
  padding-bottom:50px;
}

.testimonialSlider .swiper-pagination {
  bottom: 20px;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #f063b8;
}
